<!---------------Qui Nous sommes --------------->

<section id="entreprise" class="my-5">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <h2>Testez votre maturité</h2>

   
        <form [formGroup]="form" (ngsubmit)="onSubmit()">
            <h2>1. Quelle est votre couleur préférée ?</h2>
            <input type="radio" formControlName="couleurPreferee" value="1">
            <label for="couleur1Bleu">Bleu</label><br>
            <input type="radio" formControlName="couleurPreferee" value="2">
            <label for="couleur1Rouge">Rouge</label><br>
            <input type="radio" formControlName="couleurPreferee" value="3">
            <label for="couleur1Vert">Vert</label><br>
    
            <input type="submit" value="Soumettre">
        </form>
    

      <div *ngif="submitted">
        <p>Votre score de maturité est :
          {{ maturityScore }}</p>
      </div>
    </div>
  </div>
</section>



