<!---------------Qui Nous sommes --------------->

<section id="entreprise" class="my-5">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <h2>Testez votre maturité</h2>

   
        <form [formGroup]="form" (ngsubmit)="onSubmit()">
            <h2>1. Quelle est votre couleur préférée ?</h2>
            <input type="radio" id="couleur1Bleu" name="couleurPreferee" value="1">
            <label for="couleur1Bleu">Bleu</label><br>
            <input type="radio" id="couleur1Rouge" name="couleurPreferee" value="2">
            <label for="couleur1Rouge">Rouge</label><br>
            <input type="radio" id="couleur1Vert" name="couleurPreferee" value="3">
            <label for="couleur1Vert">Vert</label><br>
    
            <h2>2. Quel est votre animal préféré ?</h2>
            <input type="radio" id="animalChat" name="animalPrefere" value="1">
            <label for="animalChat">Chat</label><br>
            <input type="radio" id="animalChien" name="animalPrefere" value="2">
            <label for="animalChien">Chien</label><br>
            <input type="radio" id="animalOiseau" name="animalPrefere" value="3">
            <label for="animalOiseau">Oiseau</label><br>
    
            <h2>3. Quelle est votre saison préférée ?</h2>
            <input type="radio" id="saisonEte" name="saisonPreferee" value="1">
            <label for="saisonEte">Été</label><br>
            <input type="radio" id="saisonHiver" name="saisonPreferee" value="2">
            <label for="saisonHiver">Hiver</label><br>
            <input type="radio" id="saisonAutomne" name="saisonPreferee" value="3">
            <label for="saisonAutomne">Automne</label><br>
    
            <input type="submit" value="Soumettre">
        </form>
    

      <div *ngif="maturityScore">
        <p>Votre score de maturité est :
          {{ maturityScore }}</p>
      </div>
    </div>
  </div>
</section>

<!---------------Action--------------->
