.mainContainer{
    height: 100px;
}
.boutonContainer{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;}
.resultContainer{
    idth: 100%;
    background-color: aliceblue;
    padding: 40px;

}
.titleHeader{
    text-align: center;
    background-color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 300px;
}
.font{
    font-family: monospace;
}
.red{
    color: red;
}
.green{
    color: green;
}
.orange{
    color: orange;
}
h2{
    font-size: 1.5em;
}
h3{
    font-family: monospace!important;
    font-size: 1em;
}

.bd-title{
    padding: 40px;
    background-color: lavender;
    margin-bottom: 40px;
}

.questionTitle{
    font-family: monospace;
    margin-top: 40px;
    font-size: 1em;
    font-weight: bold;
}
.form-check-label{
    font-size: 0.8em;
}
p{font-size: 0.8em}