

    <section id="entreprise" class="my-5">
      <div class="container">
          <div class="row gy-4 align-items-center">
              <div class="col-12 col-md-6">
                  <h1 class="fw-bold">La CyberTeam</h1>
                  <h2 class="fw-light">Présentation de l'entreprise</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat nisl at mi varius, sed sodales dui eleifend. 
                    Vestibulum dignissim massa in libero mollis accumsan. Donec iaculis egestas metus eu iaculis. Vivamus elementum velit eget bibendum porttitor. 
                    Nullam tortor dolor, interdum vitae elit quis, pulvinar mollis lacus. Sed neque arcu, laoreet ut ligula a, aliquam finibus velit. 
                    Nulla nisi tortor, ultrices id malesuada eu, dapibus eget nisi.</p>
              </div>
              <div class="col-12 col-md-6">
                  <img src="../assets/equipe.jpg" alt="image" width="100%">
              </div>
          </div>
      </div>
    </section>

    <!---------------Action--------------->


    <section id="action" class="py-5 bg-light">
      <div class="container">
          <div class="row gy-4 align-items-center">
              <div class="col-12 col-md-6">
                <img src="../assets/action.jpg" class="object-fit-cover"alt="action" width="100%">
              </div>
              <div class="col-12 col-md-6">
                  <h1 class="fw-bold">Des expert de la cybersécurité</h1>
                  <h2 class="fw-light">Nos domaine d'action</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat nisl at mi varius, sed sodales dui eleifend. 
                    Vestibulum dignissim massa in libero mollis accumsan. Donec iaculis egestas metus eu iaculis. Vivamus elementum velit eget bibendum porttitor. 
                    Nullam tortor dolor, interdum vitae elit quis, pulvinar mollis lacus. Sed neque arcu, laoreet ut ligula a, aliquam finibus velit. 
                    Nulla nisi tortor, ultrices id malesuada eu, dapibus eget nisi.</p>
              </div>
          </div>
      </div>
    </section>

    <!---------------questionnaire--------------->


    <section id="questionnaire" class="py-5">
      <div class="container">
          <div class="row gy-4 align-items-center text-center">
            <div class="col-2"></div>
            <div class="col-8">
                <h2 class="mt-4">Testez vos connaissances en cybersécurité</h2>
                <h5 class="mt-4">Que savez-vous de la cybersécurité ? Testez vos connaissances avec un quiz rapide sur les principes de base de la sécurité en ligne.</h5>
                <a type="button" class="btn btn-primary mt-4" href="./form">Passez le quiz de cybersécurité</a>
            </div>
            <div class="col-2"></div>
          </div>
      </div>
    </section>

    <!---------------contact--------------->


    <section id="contact" class="py-5 bg-light">
      <div class="container">
          <h2 class="mb-0">Besoin de plus d'information</h2>
          <h3 class="fw-light fs-5">Contacter nous</h3>

          <div class="row gy-4 mt-4">
              <div class="col-12 col-md-5">
                  <img src="../assets/contact.jpg" alt="Contact" width="100%">
              </div>
              <div class="col-12 offset-md-1 col-md-6">
                  <!-- Formulaire -->
                  <form class="row">
                      <div class="col-6 my-2">
                          <label for="firstname" class="form-label">Prénom</label>
                          <input name="firstname" type="text" class="form-control" id="firstname">
                      </div>
                      <div class="col-6 my-2">
                          <label for="name" class="form-label">Nom</label>
                          <input name="name" type="text" class="form-control" id="name">
                      </div>
                      <div class="col-12 my-2">
                          <label for="email" class="form-label">Email address</label>
                          <input name="email" type="email" class="form-control" id="email">
                      </div>
                      <div class="col-12 my-2">
                          <label for="message" class="form-label">Message</label>
                          <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                      </div>
                      <div class="col-12 my-2">
                          <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>

