
<section id="entreprise" class="my-5 titleHeader">
    <div class="container">
        <div class="row gy-4 align-items-center">
                <h1 class="fw-bold">La CyberTeam</h1>
                <h3 class="fw-light">sécurité informatique</h3>           
        </div>
    </div>
  </section>

    <section id="entreprise" class="my-5">
      <div class="container">
          <div class="row gy-4 align-items-center">
              <div class="col-12 col-md-6">
                  <h2 class="fw-bold">La CyberTeam</h2>
                  <h3 class="fw-light">Présentation de l'entreprise</h3>
                  <p>Nos experts en cybersécurité viennent auditer et renforcer les défenses de votre infrastructure cloud. Ils élaborent avec vous une stratégie sur mesure pour sécuriser les parties les plus sensibles de votre infrastructure, avec comme point d’attention de ne jamais ralentir vos développeurs.</p>
              </div>
              <div class="col-12 col-md-6">
                  <img src="../assets/equipe.jpg" alt="image" width="100%">
              </div>
          </div>
      </div>
    </section>

    <!---------------Action--------------->


    <section id="action" class="py-5 bg-light">
      <div class="container">
          <div class="row gy-4 align-items-center">
              <div class="col-12 col-md-6">
                <img src="../assets/action.jpg" class="object-fit-cover"alt="action" width="100%">
              </div>
              <div class="col-12 col-md-6">
                  <h2 class="fw-bold">Des expert de la cybersécurité</h2>
                  <h3 class="fw-light">Nos domaine d'action</h3>
                  <p>Nos experts en sécurité sont formés et certifiés sur les cloud providers et les nouvelles technologies DevSecOps (conteneurisation, Infrastructure as Code, Zero Trust Network,…). Cette maîtrise leur permet d’en connaître les enjeux et d’assurer un niveau de sécurité maximal pour votre infrastructure.</p>
              </div>
          </div>
      </div>
    </section>

    <!---------------questionnaire--------------->


    <section id="questionnaire" class="py-5">
      <div class="container">
          <div class="row gy-4 align-items-center text-center">
            <div class="col-2"></div>
            <div class="col-8">
                <h2 class="mt-4">Testez vos connaissances en cybersécurité</h2>
                <h3 class="mt-4">Que savez-vous de la cybersécurité ? Testez vos connaissances avec un quiz rapide sur les principes de base de la sécurité en ligne.</h3>
                <a type="button" class="btn btn-success mt-4" href="./form">Passez le quiz de cybersécurité</a>
            </div>
            <div class="col-2"></div>
          </div>
      </div>
    </section>

    <!---------------contact--------------->


    <section id="contact" class="py-5 bg-light">
      <div class="container">
          <h2 class="mb-0">Besoin de plus d'information</h2>
          <h3 class="fw-light fs-5">Contacter nous</h3>

          <div class="row gy-4 mt-4">
              <div class="col-12 col-md-5">
                  <img src="../assets/contact.jpg" alt="Contact" width="100%">
              </div>
              <div class="col-12 offset-md-1 col-md-6">
                  <!-- Formulaire -->
                  <form class="row">
                      <div class="col-6 my-2">
                          <label for="firstname" class="form-label">Prénom</label>
                          <input name="firstname" type="text" class="form-control" id="firstname">
                      </div>
                      <div class="col-6 my-2">
                          <label for="name" class="form-label">Nom</label>
                          <input name="name" type="text" class="form-control" id="name">
                      </div>
                      <div class="col-12 my-2">
                          <label for="email" class="form-label">Email address</label>
                          <input name="email" type="email" class="form-control" id="email">
                      </div>
                      <div class="col-12 my-2">
                          <label for="message" class="form-label">Message</label>
                          <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                      </div>
                      <div class="col-12 my-2">
                          <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>

