.mainContainer {
    height: 100px;
}

.boutonContainer {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.resultContainer {
    width: 100%;
    background-color: aliceblue;
    padding: 40px;

}

.form {
    width: auto;
}

.titleHeader {
    text-align: center;
    background-color: #0B014C;

    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    height: 60vh;
    position: relative;
    /* Nécessaire pour le positionnement du pseudo-élément */
    z-index: 1;
    /* Assurez-vous que le contenu reste au-dessus du fond */
    height: 50vh;

}
#contact{
    background-color: #0B014C;
    color: white;
}
#enterprise2{
    margin-top: 60px;
}
.monoplace{
    font-family: monospace;
}
.titleHeader::before {
    content: '';
    /* Nécessaire pour que le pseudo-élément s'affiche */
    background-color: #0B014C!important;

    position: absolute;
    /* Positionnement par rapport à .titleHeader */
    top: 0;
    left: 0%;
    width: 100%;
    /* Couvrir l'élément parent */
    height: 100%;
    /* Couvrir l'élément parent */
    background-image: url('/assets/team.jpg'); /* Chemin de votre image */
    background-size: cover;
    /* Couvrir entièrement l'espace disponible */
    background-position: center;
    /* Centrer l'image */
    background-repeat: no-repeat;
    /* Ne pas répéter l'image */
    opacity: 0.5;
    /* Ajustez l'opacité selon vos besoins */
    z-index: -1;
    /* Placer l'arrière-plan derrière le contenu */
}

.font {
    font-family: monospace;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

h1 {
    font-family: monospace;
    color: white;
    font-size: 4em;

}

h2 {
    font-size: 1.5em;
}

h3 {
    font-family: monospace !important;
    font-size: 1em;
    color: white;

}

.bd-title {
    padding: 40px;
    background-color: lavender;
    margin-bottom: 40px;
}

.questionTitle {
    font-family: monospace;
    margin-top: 40px;
    font-size: 1em;
    font-weight: bold;
}

.form-check-label {
    font-size: 0.8em;
}

p {
    font-size: 0.8em
}
@keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Commence en dehors de l'écran, à droite */
      opacity: 0; /* Commence invisible */
    }
    to {
      transform: translateX(0); /* Termine à sa position normale */
      opacity: 1; /* Termine complètement visible */
    }
  }

  .animation{
    animation-name: slideInFromRight; /* Nom de l'animation définie ci-dessus */
  animation-duration: 1s; /* Durée de l'animation, ajustez selon vos besoins */
  animation-timing-function: ease-out; /* Accélère au début, ralentit à la fin */
  animation-fill-mode: forwards; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation-name: fadeIn; /* Nom de l'animation définie ci-dessus */
    animation-duration: 1.5s; /* Durée de l'animation, ajustez selon vos besoins */
    animation-timing-function: ease-in-out; /* Démarrage et fin en douceur */
    animation-fill-mode: forwards; /* Garde les styles finaux après la fin de l'animation */
  }
  